{
	"natural-language-understanding": {
		< paste in Watson Natural Language Understanding instance credentials >

		"url": "https://gateway.watsonplatform.net/natural-language-understanding/api",
		"username": "••••••••••••••••••••••••••••••••••••",
		"password": "••••••••••••"
		
	}
}